<div id="pageWrapper">
	<span id="pageHeader">
		<div id="pageHeaderContent">
			<h1 id="nameHeader"> Sean Mulholland </h1>
			<div class="lineBreak"></div>
		</div>
	</span>

	<span id="pageMiddle">
		<section id="sideBar">
			<div class="buttonDiv">
				<div class="buttonDivText">
					<p>
						Introduction
					</p>
				</div>
			</div>


			<div class="buttonDiv" id="resumeButton">
				<div class="buttonDivText">
					<p>
						Resume
					</p>
				</div>
			</div>

			<div class="buttonDiv">
				<div class="buttonDivText">
					<p class="buttonDivTextP">
						GIT Hub
					</p>
				</div>
			</div>

			<div class="buttonDiv">
				<div class="buttonDivText">
					<p class="buttonDivTextP">
						Oregon State Liquor API
					</p>
				</div>
			</div>

			<div class="buttonDiv">
				<div class="buttonDivText">
					<p>
						Portfolio	
					</p>
				</div>
			</div>
		</section>


		<section id="contentSection">
			<div id="contentSectionHeader">
			</div>
			<div id="contentSectionContent">
				<p id="contentText"> Welcome to my homepage built on my own Node.js webserver hosted on an EC2 instance! This page will grow as I learn newer techniques in the next 12 months of my computer science post-bachelor's degree!
				</p>
			</div>
		</section>
	</span>

	<span id="pageFooter">
		<div id="pageFooterContent">
			<p id="pageFooterContentText">
				Last Updated 2/23/2016 
			</p>
			<a id="emailAddress" href="mailto:sean-mulholland@hotmail.com">Email: sean-mulholland@hotmail.com</a>
		</div>
	</span>
</div>

<script src="/public/scripts/addEvents.js"></script>
