<h1> Sean's homepage </h1>

<section>
	<p id="intro"> Welcome to my homepage built on my own Node.js webserver hosted on an EC2 instance!<br>
		This page will grow as I learn newer techniques in the next 12 months of my computer science <br>
		post-bachelor's degree! <br>
	</p>

</section>
