<span class="pageHeader">
	<h1 id="nameHeader"> Sean Mulholland </h1>
</span>

<section class="sideBar">
	<div class="buttonDiv" id="resumeButton">
		<p class="buttonDivText">
			Resume
		</p>
	</div>
	<div class="buttonDiv">
		<p class="buttonDivText">
			Thing2
		</p>
	</div>
	<div class="buttonDiv">
		<p class="buttonDivText">
			Thing3
		</p>
	</div>
</section>


<section class="contentSection">
	<div id="contentDiv">
	</div>
	<p id="contentText"> Welcome to my homepage built on my own Node.js webserver hosted on an EC2 instance! This page will grow as I learn newer techniques in the next 12 months of my computer science post-bachelor's degree!
	</p>
</section>

<span class="pageFooter">
	<div class="pageFooterInfo">
		<p class="pageFooterInfoText">
			Last Updated 11/23/2015
		</p>
	</div>
</span>

<script src="/public/scripts/addEvents.js"></script>
