<h1> Current Data Situation: </h1>
<form>
	<fieldset>
		<legend> Request Area </legend>
		<input type="button" value="Push Me" id="testButton">
	</fieldset>
</form>

<section>
	<p> You have viewed this page: {{count}} times </p>
	<p> You have made the page red: {{redCount}} times </p>
</section>

<section>
	This is my Test area
	{{weather}}
</section>

<form action="/testGet" method="GET">
	<fieldset>
		<legend> AREA 2 </legend>
		<input type="submit" value="Submit" id="clickMe">
	</fieldset>
</form>
<script src="/public/scripts/test.js"></script>
